<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body mb-7">
      <div class="row justify-content-center">
        <div class="container col-xl-8 order-xl-1 card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-6">
                <h3 class="mb-0">Event Information</h3>
              </div>
              <div class="col-6 text-right">
                <button type="submit" [disabled]="!eventForm.valid" (click)="saveEvent()" class="btn btn-info">Save Event</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="card-body px-lg-5 py-lg-5">
                <form [formGroup]="eventForm">
                  <div class="form-group col-md-12">
                    <label for="name">Event Name</label>
                    <input class="form-control" formControlName="name" name="name" id="name" type="text">

                  </div>
                  <div class="form-group col-md-12">
                    <label for="description">Event Description</label>
                    <textarea class="form-control" formControlName="description" name="description" id="description"
                      rows="6" placeholder="Description"></textarea>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="startDate">Start Date</label>
                    <input class="form-control" placeholder="Datepicker" type="text" formControlName="startDate"
                      ngbDatepicker #startDatePicker="ngbDatepicker" (click)="startDatePicker.toggle()">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="endDate">End Date</label>
                    <input class="form-control" placeholder="Datepicker" type="text" formControlName="endDate"
                      ngbDatepicker #endDatePicker="ngbDatepicker" (click)="endDatePicker.toggle()">
                  </div>

                  <div class="form-group col-md-12">
                    <label for="status">Status</label>
                    <select class="form-control" formControlName="status" name="status" id="status">
                      <option>New</option>
                      <option>Inprogress</option>
                      <option>Completed</option>
                    </select>
                  </div>
                  <div class="form-group col-md-12">
                    <label for="rules">Event Rules</label>
                    <textarea class="form-control" formControlName="rules" name="rules" id="rules" rows="6"
                      placeholder="Add additional notes here."></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>